*.gz binary
*.h5ad binary
*.mtx binary
*.pdf binary
*.png binary
*.svg text eol=lf
*.tsv text eol=lf whitespace=-blank-at-eol
*.csv text eol=lf
*.md text eol=lf
*.py text eol=lf
*.R text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.xlsx binary
